<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/56ce49db-053c-47b2-9554-6b10eff6b3ac/resourceGroups/test-bot/providers/Microsoft.Web/sites/stvdotbot</ResourceId>
    <SiteUrlToLaunchAfterPublish>https://stvdotbot.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>stvdotbot.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>stvdotbot</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$stvdotbot</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>